$firstColor: #333447;
$secondColor: #f6f5f7;
$thirdColor: #efefef;
$fouthColor: #dee3e6;

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  -o-transform: $params;
  -ms-transform: $params;
  box-shadow: $params;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

body {
  background-color: $secondColor;
}

button {
  border-radius: 0px;
  width: 100%;
  border: 1px solid $firstColor;
  background-color: transparent;
  color: $firstColor;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

button:disabled,
button[disabled] {
  border: 1px solid $thirdColor;
  color: $thirdColor;
}

.header {
  position: relative;
  header {
    font-family: "Oldenburg", cursive;
    font-size: 2.5rem;
    margin: 1rem 0 0 0;
    position: relative;
  }
}

.add-message-box {
  position: relative;
  .add-message a {
    border-color: $fouthColor;
  }
  .add-message img {
    width: 100px;
    padding-top: 15px;
  }
  .add-message-form {
    position: absolute;
    top: 80px;
    right: 0px;
    background-color: #fff;
    border-color: #fff;
    width: 300px;
    padding: 1rem;
    text-align: left;
    @include box-shadow(0px 0px 20px 0px rgba(0, 0, 0, 0.65));
    z-index: 1000;
    .closeBtn {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1000;
      cursor: pointer;
    }
    .triangle {
      width: 0px;
      height: 0px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #fff;
      border-bottom: 20px solid transparent;
      position: absolute;
      top: -30px;
      right: 26px;
      @include transform(rotate(180deg));
    }
    .form-group {
      padding: 12px 15px;
      textarea {
        background-color: $fouthColor;
        border: none;
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;
      }
      input[type="text"] {
        background-color: $fouthColor;
        border: none;
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;
      }
      input[type="checkbox"] {
        position: absolute;
        left: -9999px;
      }
      .side-label {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
      }
      .side-label::before,
      .side-label::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
      }
      .side-label::before {
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid $fouthColor;
      }
      input:focus + .side-label::before {
        border-color: $fouthColor;
      }
      .side-label::after {
        display: none;
        width: 12px;
        height: 12px;
        margin: 6px;
        background-color: $fouthColor;
      }
      input:checked + .side-label::after {
        display: block;
      }
      #permitted:checked ~ .blocked {
        display: none;
      }
      #permitted:checked ~ button {
        display: block;
      }
    }
  }
}

.message {
  margin: 10px;
  position: relative;
  text-align: right;
  .bulle {
    display: inline-block;
    min-width: 120px;
    border-radius: 50px;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    .mo {
      font-size: 16pt;
      color: #333447;
      padding: 10px 10px 0 10px;
    }
    .infos {
      padding: 0 10px 10px 10px;
      font-size: 0.6rem;
      opacity: 0.6;
    }
  }
}

.fadein {
  @include animation(fadein 3s);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #333447;
    border-radius: 50%;
    @include animation(lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite);
    border-color: #333447 transparent transparent transparent;
  }
  div:nth-child(1) {
    animation-delay: -0.45s;
  }
  div:nth-child(2) {
    animation-delay: -0.3s;
  }
  div:nth-child(3) {
    animation-delay: -0.15s;
  }
}
@keyframes lds-ring {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}
